.loginForm {
    border:  yellow solid 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin: 6rem;
}

form {
    padding: 0.5rem;
    width: 14rem;
    align-content: center;
    justify-content: space-around;
}

input {
    padding: 3px;
    width: 13rem;
    border-radius: 0.3rem;
    border: #242424 solid 1px;
}

input, button {
    margin: 0.4rem;
}

input:hover {
    border-color: #535bf2;
}
