.card {
    padding: 1rem 0rem;
    width: 18rem;
    height: 20rem;
    /* border: red solid 2px; */
    align-content: space-around;
}

.card img{
    background-color: #f0f0f0;
    border-radius: 10px;     
    width: 50%;
}
