.card {
    padding: 1rem 0rem;
    width: 18rem;
    height: 25rem;
    /* border: #333333 solid 0.1px; */
    border: #242424 solid 0.1px;
    align-content: space-around;
    margin: 1rem;
}

.card img{
    background-color: #f0f0f0;
    width: 12rem;
}

.card, img {
    border-radius: 10px;     
}

.card:hover {
    border: solid 1px #535bf2;
}
.shopBtn {
    width: 12rem;
}
